
musicBox_vhdl\.prj

musicBox_xst\.xrpt

webtalk_pn\.xml

xst/work/hdllib\.ref

xst/work/hdpdeps\.ref

xst/work/sub00/vhpl00\.vho

xst/work/sub00/vhpl01\.vho

musicBox_envsettings\.html

musicBox\.xst

musicBox\.lso

musicBox\.ngc

musicBox\.ngr

musicBox\.prj

musicBox\.stx

musicBox\.syr

_xmsgs/xst\.xmsgs

musicBox\.cmd_log
